*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* position: relative; */
    background-color: powderblue;

}
.head{
    text-align: center;
    color: gold;
    background: linear-gradient(to right,red ,blue);
    margin: auto;
    width: 50%;
    border-radius: 20px;
    border: 2px dotted yellow;
}
#btn{
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    background-color: red;
    padding: 2%;
    border-radius: 30px;    
    box-shadow: 3px 3px 30px yellow;

}
.dark{
    background-color: black;
}
.light{
    background-color: white;
}
.darkbtn{
    background-color: black;
    color: white;
    padding: 2%;
    width: 90px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px rgb(203, 227, 24);

}
.lightbtn{
      width: 90px;
    background-color: white;
    color: rgb(20, 19, 19);
     padding: 2%;
    border-radius: 30px;
    box-shadow: 2px 2px 20px rgb(203, 227, 24);
}