*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    width: 50%;
    background-color: black;
    border-radius: 20px;
    margin: auto;
    margin-top: 2px;
    text-align: center;
    color: gold;
    box-shadow: inset 0px 0px 10px 5px  yellow;
}
body{
    background-color: powderblue;
}